html, body {
    height:100%;
    width:100%;  
    margin: 0 auto;
}
.container {
    background-color: black;
    display: block;
    width: 1000px;
    height: 700px;
    justify-content: center;
}
canvas {
    background-color: black;
}